/*
 * Copyright (c) 2020 dELLIKEEb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

// custom keycode defs for easier access
#define COLEMAK 0
#define MOD     1
//#define MAC     2
#define LOWER   2
#define RAISE   3
#define ADJUST  4

// / {
//     behaviors {
//         hm: homerow_mods {
//             compatible = "zmk,behavior-hold-tap";
//             label = "homerow mods";
//             #binding-cells = <2>;
//             tapping_term_ms = <225>;
//             flavor = "tap-preferred";
//             bindings = <&kp>, <&kp>;
//         };
//     };
// };

// -------------------------------------------               -------------------------------------------
// |      |      |      |      |      |      |               |      |      |      |      |      |      |
// -------------------------------------------               -------------------------------------------
// |      |      |      |      |      |      |               |      |      |      |      |      |      |
// -------------------------------------------   ---------  --------------------------------------------
// |      |      |      |      |      |      |   |       |   |      |      |      |   I  |      |      |
// -------------------------------------------   ---------   -------------------------------------------
// |      |      |      |      |      |      |   |       |   |      |      |      |      |      |      |
// -------------------------------------------   ---------   -------------------------------------------
//        |      |      |      |      |      |               |      |      |      |      |      |
//        ------------------------------------               ------------------------------------

// BASE colemak-DHm
// -------------------------------------------               -------------------------------------------
// | Esc  |   1  |   2  |   3  |   4  |   5  |               |   6  |   7  |   8  |   9  |   0  |  `   |
// -------------------------------------------               -------------------------------------------
// | Tab  |   Q  |   W  |   F  |   P  |   B  |               |   J  |   L  |   U  |   Y  |   ;  |  '   |
// -------------------------------------------   ---------  --------------------------------------------
// | Ctrl |   A  |   R  |   S  |   T  |   G  |   | PGup  |   |   M  |   N  |   E  |   I  |   O  | Enter|
// -------------------------------------------   ---------   -------------------------------------------
// | Shift|   Z  |   X  |   C  |   D  |   V  |   | PGdwn |   |   K  |   H  |   ,  |   .  |   /  | Shift|
// -------------------------------------------   ---------   -------------------------------------------
//        | Ctrl | GUI  |  Alt |Lower |Space |               |Space |Raise |RAlt  | RGUI | RCtl |
//        ------------------------------------               ------------------------------------
//

/ {
    keymap {
        compatible = "zmk,keymap";

        colemak_layer {
            bindings = <
                &kp ESC     &kp N1      &kp N2      &kp N3      &kp N4    &kp N5                    &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp GRAV
                &kp TAB     &kp Q       &kp W       &kp F       &kp P     &kp B                     &kp J       &kp L       &kp U       &kp Y       &kp SCLN    &kp SQT
                &kp LCTL    &kp A       &kp R       &kp S       &kp T     &kp G         &kp PG_UP   &kp M       &kp N       &kp E       &kp I       &kp O       &kp RET
                &kp LSFT    &kp Z       &kp X       &kp C       &kp D     &kp V         &kp PG_DN   &kp K       &kp H       &kp CMMA    &kp DOT     &kp FSLH    &kp RSFT
                            &kp LGUI    &kp LALT    &kp LCTL    &mo LOWER &kp SPC                   &kp SPC     &mo RAISE   &kp RALT    &kp RGUI    &kp RCTL
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp LEFT RIGHT>;
        };

//        default_layer {
//            bindings = <
//                &kp GRAV    &kp N1      &kp N2      &kp N3      &kp N4    &kp N5                    &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp BKSP
//                &kp TAB     &kp Q       &kp W       &kp E       &kp R     &kp T                     &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSLH
//                &kp ESC     &kp A       &kp S       &kp D       &kp F     &kp G         &kp RARW    &kp H       &kp J       &kp K       &kp L       &kp SCLN    &kp RET
//                &kp LSFT    &kp Z       &kp X       &kp C       &kp V     &kp B         &kp LARW    &kp N       &kp M       &kp CMMA    &kp DOT     &kp FSLH    &mt RSFT SQT
//                            &kp LGUI    &kp LALT    &kp LCTL    &mo LOWER &kp SPC                   &kp SPC     &mo RAISE   &kp RALT    &kp DARW    &kp UARW
//            >;
//            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp LEFT RIGHT>;
//        };

        mod_layer {
            bindings = <
                &trans      &trans      &trans      &trans      &trans      &trans                  &trans      &trans      &trans      &trans      &trans      &trans
                &trans      &trans      &trans      &trans      &trans      &trans                  &trans      &trans      &trans      &trans      &trans      &trans
                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
                            &trans      &trans      &trans      &trans      &kp BSPC                &kp DEL     &trans      &trans      &trans      &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp LEFT RIGHT>;
        };

//        mac_layer {
//            bindings = <
//                &trans      &trans      &trans      &trans      &trans      &trans                  &trans      &trans      &trans      &trans      &trans      &trans
//                &trans      &trans      &trans      &trans      &trans      &trans                  &trans      &trans      &trans      &trans      &trans      &trans
//                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
//                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
//                            &kp LCTL    &kp LALT    &kp LGUI    &trans      &trans                  &trans      &trans      &kp RGUI    &trans      &trans
//            >;
//            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp LEFT RIGHT>;
//        };

// Lower layer 
// -------------------------------------------               -------------------------------------------
// |      |      |      |      |      |      |               |      |      |      |      |      |      |
// -------------------------------------------               -------------------------------------------
// |      |      |      |      |      |      |               |      |      |      |      |      |      |
// -------------------------------------------   ---------  --------------------------------------------
// |      |      |      |      |      |      |   |       |   |      |      |      |   I  |      |      |
// -------------------------------------------   ---------   -------------------------------------------
// |      |      |      |      |      |      |   |       |   |      |      |      |      |      |      |
// -------------------------------------------   ---------   -------------------------------------------
//        |      |      |      |      |      |               |      |      |      |      |      |
//        ------------------------------------               ------------------------------------
//
        lower_layer {
            bindings = <
                &trans      &trans      &trans      &trans      &trans      &trans                  &trans      &trans      &trans      &trans      &trans      &kp INS
                &kp BKSP    &kp FSLH    &kp NUM_7   &kp NUM_8   &kp NUM_9   &kp PLUS                &kp CARET   &kp LBKT    &kp RBKT    &kp AT      &kp EXCL    &trans
                &kp EQUAL   &kp NUM_0   &kp NUM_4   &kp NUM_5   &kp NUM_6   &kp MINUS   &kp UARW    &kp PIPE    &kp LPAR    &kp RPAR    &kp HASH    &kp TILDE   &kp BSLH
                &kp DOT     &kp STAR    &kp NUM_1   &kp NUM_2   &kp NUM_3   &kp UNDER   &kp DARW    &kp GRAV    &kp LBRC    &kp RBRC    &kp AMPS    &kp PRCNT   &kp SQT
                            &trans      &trans      &trans      &trans      &kp BSPC                &kp DEL     &mo ADJUST  &trans      &trans      &trans
            >;
            sensor-bindings = <&inc_dec_kp LEFT RIGHT &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

// Raise layer
// -------------------------------------------               -------------------------------------------
// | F12  |  F1  |  F2  |  F3  |  F4  |  F5  |               |  F6  |  F7  |  F8  |  F9  | F10  |  F11 |
// -------------------------------------------               -------------------------------------------
// |      |      |      |      |      |      |               | pgup | home |  up  | end  | app  |      |
// -------------------------------------------   ---------  --------------------------------------------
// |      |      |      |      |      |      |   |       |   | pgdwn| left | down | rigt |      |      |
// -------------------------------------------   ---------   -------------------------------------------
// |      |      |      |      |      |      |   |       |   |      | back |      | frwrd|      |      |
// -------------------------------------------   ---------   -------------------------------------------
//        |      |      |      |      |L(ADJ)|               |  X   |      |      |      |      |
//        ------------------------------------               ------------------------------------
//
        raise_layer {
            bindings = <
                &kp F12     &kp F1      &kp F2      &kp F3      &kp F4      &kp F5                      &kp F6      &kp F7      &kp F8      &kp F9        &kp F10     &kp F11
                &trans      &trans      &trans      &trans      &trans      &trans                      &kp PG_UP   &kp HOME    &kp UARW    &kp END       &kp K_APP   &trans
                &trans      &trans      &trans      &trans      &trans      &trans      &kp C_VOL_UP    &kp PG_DN   &kp LARW    &kp DARW    &kp RARW      &trans      &trans
                &trans      &trans      &trans      &trans      &trans      &trans      &kp C_VOL_DN    &trans      &kp K_BACK  &trans      &kp K_FORWARD &trans      &trans
                            &trans      &trans      &trans      &mo ADJUST  &kp BSPC                    &kp DEL         &trans      &trans      &trans      &trans
            >;

        };

// Adjust layer
// -------------------------------------------               -------------------------------------------
// | boot | bt0  | bt1  | bt2  | bt3  | bt4  |               |      |      |      |      |      | btclr|
// -------------------------------------------               -------------------------------------------
// |      |      |      |      |      |      |               |      |      |      |      |      |      |
// -------------------------------------------   ---------  --------------------------------------------
// |      |      |      |      |      |      |   |       |   |      |      |   I  |      |      |      |
// -------------------------------------------   ---------   -------------------------------------------
// |      |      |      |      |      |      |   |       |   |      |      |      |      |      |      |
// -------------------------------------------   ---------   -------------------------------------------
//        |      |      |      |      |      |               |      |      |      |      |      |
//        ------------------------------------               ------------------------------------
//
        adjust_layer {
            bindings = <
                &bootloader &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4                    &trans      &trans      &trans      &trans      &trans      &bt BT_CLR
                &trans      &rgb_ug RGB_TOG &rgb_ug RGB_EFF &rgb_ug RGB_EFR &rgb_ug RGB_BRI &rgb_ug RGB_BRD                 &trans      &trans      &trans      &trans      &trans      &trans
                &kp CAPS    &rgb_ug RGB_HUI &rgb_ug RGB_HUD &rgb_ug RGB_SAI &rgb_ug RGB_SAD &trans          &kp C_VOL_UP    &trans      &trans      &trans      &trans      &trans      &trans
                &trans      &trans          &trans          &trans          &trans          &trans          &kp C_VOL_DN    &tog MOD    &trans      &trans      &trans      &trans      &trans
                            &trans          &trans          &trans          &trans          &trans                          &trans      &trans      &trans      &trans      &trans
            >;
        };

    };
};
